* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  height: 100vh;
  min-height: 700px;
}

.w-100 {
  width: 100%;
}

.container {
  width: 1000px;
  color: #fff;
  font-family: "Zilla Slab", sans-serif;
  letter-spacing: 1px;
  @media screen and (max-width: 1020px) {
    width: 90%;
  }
  @media screen and (max-width: 670px) {
    overflow-x: auto;
  }
}

img {
  max-width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  align-items: center;
}

.hide {
  display: none !important;
}
